<div class="row">
    <div class="col-md-12">
            •    le yoga selon Milarépa
            Des exercices de rassemblement de l’attention, de concentration permettent d’apaiser le mental. Poursuivi, ce travail vous amène vers le silence, la méditation et la découverte des lois qui régissent la vie de l’énergie.
            Milarepa
            Généralités
            
            « Yoga »  signifie  « Union » , c’est-à-dire unité de l’être : le corps physique, le psychisme et l’être intérieur.
            
            ​
            
            Le yoga d’inspiration tibétaine permet de retrouver l’unité entre le corps, le psychisme, le mental et le plus subtil en nous ( relation à la lignée, relation à la vie, etc … ).
            
            Yoga de l'Energie-Vie, accessible à tous, le Yoga d’inspiration tibétaine vise à libérer et à activer le potentiel d’énergie inscrit en chacun de nous comme en toute forme de vie.
            
            Notre approche est celle d’un Yoga dynamique, destiné à fluidifier le mouvement de l’énergie en s’ouvrant au plus subtil et à faciliter ainsi sa circulation dans le corps et le psychisme.
            
            Cet enseignement permet à tous de vivre une évolution intérieure consciente. Il est transmis par et pour des occidentaux et présenté sous deux formes complémentaires :
            Marpa
            
            •    le yoga selon Marpa
            
            Pratique corporelle basée sur des mouvements, des étirements, des gestes, des respirations ;
            
            ​
            Marpa
            Spécificités
            
            Les participants sont invités à prendre conscience de leur corps ; leur respiration et leur attention sont guidées dans les mouvements. A chaque relâchement dans un espace corporel correspond un apaisement dans le psychisme et le mental reliés à cette région du corps (communication, affectif, émotions, sexualité, etc …).
            
             
            
            La structure de base de la séance est l’alternance : mouvement vif et lent, étirement et relâchement, activation et détente. Cette alternance permet de développer conjointement la capacité de détente et la vitalité. Chaque fois qu’une tension se relâche, l’énergie passe plus librement, la vitalité s’en trouve accrue.
            
             
            
            L’insistance sur l’attention et la concentration est l’un des aspects majeurs du Yoga d’inspiration tibétaine. Il offre des exercices qui, progressivement, s’intègrent dans la vie quotidienne.
            
            Pas à pas s’apprivoisent la concentration, la centration active, puis la méditation.
            
             
            
            Un autre aspect majeur de ce Yoga est l’Expérience : elle vous amène à constater l’évolution de votre ressenti et vous ouvre progressivement à des perceptions plus subtiles, au delà des apparences immédiates.
            Milarepa
            
            Il a été dit que le chemin était Vie, que le chemin était inscrit dans votre vie ; il n’y a pas le chemin et la vie en dehors du chemin, et le chemin en dehors de la vie. Nul besoin de parler, nul besoin .de tenter d’expliquer, nul besoin de tenter de démontrer •.. c’est dans la vie, dans la vie et à travers elle, que s’inscrit et s’illustre le chemin “  Ayalladompa
    </div>
</div>












