<div class="row">
    <div class="col-md-12">
            YOGA d'inspiration tibetaine
            EVEIL - OUVERTURE - LACHER PRISE
            Respiration - mouvements - détente ....
            
            Ce Yoga permet à tous ceux qui le désirent de vivre
            
            une ÉVOLUTION intérieure CONSCIENTE
            
             
            
            
             
            
            Séances individuelles : (2 à 3h)
            
            contacter directement
            
            l'animatrice (50€)
            
            ​​
            
            Stages Ying-Yang :
            
            par groupes de 5 personnes maximum
            
            prochaines dates :
            
                le samedi 17 novembre 2018 - 14h30 -17h 30 (30€)
            
                le samedi 12 janvier 2019 - 14h30 -17h 30 (30€)
            
            ​
            
            ​Séances MARPA - MILAREPA:
            
            cours collectifs
            
            d"une heure et demie environ
            
            planning en document joint
            
             
            
            ​
            
            ​
            
            Tarifs préférentiels : pour les étudiants, personnes à la recherche d'un emploi et personne de même foyer fiscal, adressez-vous à la présidente ou à la secrétaire de l'association.
            2 séances d'essai gratuites !
            Possible à tout moment de l'année
    </div>
</div>












