video#bgvid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;

    background-size: cover;
}

.navbar {
  padding: 0%;
}

.footer {
  padding: 20px;
  width:100%;
}

.coeur {
  max-width: 1000px;
  margin: auto;
  text-align:center;
}

.footer-item{
width: 20%;
}


.nav-item > .active  {
  background-color:rgba(86, 27, 60, 1);
  color: white;
}

.titre1 {
  font-family:Tahoma, Geneva, sans-serif;
  font-size: 35px;
  font-weight: 800;
}

.titre2 {
  font-family:Tahoma, Geneva, sans-serif;
  font-size: 13px;
  font-weight: 1000;
}

.titre3 {
  font-family:Tahoma, Geneva, sans-serif;
  font-size: 10px;
  font-weight: 100;
}