<div class="row">
    <div class="col-md-12">
           <h1> Présentation</h1>

            Nous pratiquons un yoga d’inspiration tibétaine : c’est un « Yoga de l’Énergie » dans la lignée de Marpa et de Milarepa,
            transmis par et pour des Occidentaux.
            
            
            
            Il comprend une pratique de mouvements, de respirations, de détentes profondes, d’exercices de centration, d’approche de
            la méditation.
            
            Il permet un apaisement des tensions physiques et psychiques, une prise de conscience progressive du corps et une
            circulation plus libre de l’énergie.
            
            Peu à peu les pratiquants ressentent un approfondissement de la capacité d’intériorisation (yin) ; en même temps qu’un
            éveil progressif de l’Énergie (yang) qui libère les retenues au passage de la vie en soi.
            
            
            
            Nous le pratiquons sous la forme de cours collectifs ou individuels. Les séances individuelles permettent un
            accompagnement personnalisé: cheminement intérieur vers plus de conscience et d’ouverture à la vie.
            salutation au soleil
            <img width="100%" src="../assets/099da3_e4a536ba0970483da31d63a10dba0e22.webp">
    </div>
</div>












