<div class="row">


    <div class="col-md-4">
 
            <div class="rectanglesansbordure">
                <img width="100%" src="../assets/e8a474_b894752d924b4109afdce537e46bddb5~mv2_d_3168_4752_s_4_2.webp">
            </div>

    </div>
    <div class="col-md-4">
        <div class="bordure">
            <div class="carre">
                <img src="../assets/099da3_ad68308beb434ed985ca15aaff76d3c0.webp">
            </div>
        </div>
        <div class="bordure">
            <div class="carre">
                <img src="../assets/099da3_e4a536ba0970483da31d63a10dba0e22.webp">
            </div>
        </div>
    </div>
    <div class="col-md-4">
            <div class="rectanglebordure">
                <img width="50%" src="../assets/099da3_e57304c1fde64d4b89bcb0180ab7c124.webp">

                <div class="titre1">
                    Cours de Yoga
                </div>
                <div class="titre2">
                    d'inspiration Tibetaine
                </div>


                <br />
                <div class="titre3">
                    Éveil, ouverture, lâcher-prise, ce yoga permet à tous ceux qui le désirent de vivre une évolution
                    intérieure
                    consciente.
                </div>

                <br />
                <br />
            </div>

    </div>
</div>